footer{             
    background-color: #00F000;
    height: 60px;
    width: 100%;
    align-items: center;
    bottom: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
}