footer{             
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}
