.places h1{
    font-size: 30px;
    width: 100%;
    margin: 0.67em  0 0 0.67em;
}

.places article{
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
}

article h2{
    font-size: 30px;
    text-align: center;
}